<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
</head>

<body>

    <h1 style="color:blueviolet">Hogwarts House Quiz</h1>

    <h2>QUIZ</h2>
    <ul>
        <li>To Take Quiz: <a href="/quiz">HOGWARTS HOSUE QUIZ</a></li>
    </ul>
    <hr>
    <h2>MISCELLANEOUS</h2>
    <ul>
        <li>To find users in house<a href="/list">VIEW BY HOUSE</a></li>
        <li>To empty the pre-existing database<a href="/del">EMPTY DATABASE</a></li>
    </ul>
    <hr>

</body>

</html>