<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
</head>

<body>
    Your selected house is: <%- house %>.<br>
    Here is a picture of a random dog :D. My original API ended up needing a key
    for the images so I will use this instead<br><img src=<%- image %>>
    <a href="/">HOME</a>
</body>
</html>